@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --color-primary : #2E3532;
    --color-primary-variant : #F17300;
    --color-light : rgba(0,0,0, 0.3);
    --color-white : white;
    --color-dark : #001514;
    --transition : 0.5s linear;
}


